<!DOCTYPE html>
<html lang="en">
<head>
    <title>DBS Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="login.html">Bioinformatics and Genomics</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <input type="hidden" value="username">
            <li><a href="#"><span class="glyphicon glyphicon-home">&nbspHome</span></a></li>
        </ul>
    </div>
</nav>
<div>
    <strong>Below are the details of the departement : </strong> {{ details.0 }}
    <br>
    <strong>Number of faculties :</strong> {{ details.1 }}
    <br>
    <Strong>Main Office: </Strong>{{ details.2 }}
    <br>
    <br>
    <br>
</div>

<div class="col-sm-2"></div>

<div class="col-sm-8">

    <div class="panel-group" id="accordion">

        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#Faculty">
                        Faculties
                    </a>
                </h4>
            </div>
            <div id="Faculty" class="panel-collapse collapse">
               <h5>Find the faculty by the office room:</h5>
                <select>
                    {% for all in office %}
                        <option value="{{ all.0 }}">{{ all.0 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#Courses">
                        Courses
                    </a>
                </h4>
            </div>
            <div id="Courses" class="panel-collapse collapse">
                <h1>Courses Information</h1>
            </div>
        </div>

    </div>
</div>

<div class="col-sm-2"></div>