<!DOCTYPE html>
<html lang="en">
<head>
    <title>DBS Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="login.html">Software and Information System</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <input type="hidden" value="username">
            <li><a href="#"><span class="glyphicon glyphicon-home">&nbspHome</span></a></li>
        </ul>
    </div>
</nav>
<div>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Below are the details of the departement : </strong> {{ details.0 }}
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Number of faculties :</strong> {{ details.1 }}
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;<Strong>Main Office: </Strong>{{ details.2 }}
    <br>
    <br>
</div>


<div class="col-sm-3">

    <div class="panel-group" id="accordion">

        <div class="panel panel-danger">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#Faculty">
                        Faculties
                    </a>
                </h4>
            </div>
            <div id="Faculty" class="panel-collapse">

                <ul>
                    <li><h5>Find the faculty by the office room:</h5></li>
                    <form action="fac_sis" method="GET">
                        <select name="OfficeRooms">
                            <option>-----</option>
                            {% for all in office %}
                                <option value="{{ all.0 }}">{{ all.0 }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-danger btn-sm">Submit
                        </button>
                    </form>
                    {% if fac_room != empty %}
                        {% for all in fac_room %}
                            <h4 class="text-success"><strong>{{ all.0 }}</strong></h4>
                        {% endfor %}
                    {% endif %}
                </ul>

                <ul>
                    <li><h5>Find the faculty by the year of joining:</h5></li>
                    <form action="fyear_sis" method="GET">
                        <select name="fac_year">
                            <option>-----</option>
                            {% for all in year %}
                                <option value="{{ all.0 }}">{{ all.0 }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-danger btn-sm" type="submit">Submit
                        </button>
                    </form>
                    {% if fac_by_year != empty %}
                        {% for all in fac_by_year %}
                            <h4 class="text-success"><strong>{{ all.0 }}</strong></h4>
                        {% endfor %}
                    {% endif %}
                </ul>

                <ul>
                    <li><h5>Find the professor by the Courses:</h5></li>
                    <form action="course_sis" method="GET">
                        <select name="fac_course">
                            <option>-----</option>
                            {% for all in courseID %}
                                <option value="{{ all.0 }}">{{ all.0 }}</option>
                            {% endfor %}
                        </select>
                        <select name="semesters">
                            <option>-----</option>
                            {% for all in semester %}
                                <option value="{{ all.0 }}">{{ all.0 }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-danger btn-sm" type="submit">Submit
                        </button>
                    </form>
                    {% if faculty != empty %}
                        {% for all in faculty %}
                            <h4 class="text-success"><strong>{{ all.0 }}</strong></h4>
                        {% endfor %}
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</div>

<div class="col-sm-3">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#Courses">
                    Courses
                </a>
            </h4>
        </div>
        <div id="Courses" class="panel-collapse">
            <ul>
                <li><h5>Find the Course Code for the subject: </h5></li>
                <form action="getCourseID" method="GET">
                    <select class="col-sm-8" name="Cname">
                        <option>-----</option>
                        {% for all in courseName %}
                            <option value="{{ all.0 }}">{{ all.0 }}</option>
                        {% endfor %}
                    </select>&nbsp;
                    <button type="submit" class="btn btn-success btn-sm">
                        Submit
                    </button>
                </form>
                {% if course_code != empty %}
                    {% for all in course_code %}
                        <h4 class="text-success">{{ all.0 }}</h4>
                    {% endfor %}
                {% endif %}

                <li><h5>Find the timings and Classroom for the course:</h5></li>
                <form action="getCourseClass" method="GET">
                    <select class="col-sm-8" name="Cname">
                        <option>-----</option>
                        {% for all in courseName %}
                            <option value="{{ all.0 }}">{{ all.0 }}</option>
                        {% endfor %}
                    </select>&nbsp;
                    <button type="submit" class="btn btn-success btn-sm">
                        Submit
                    </button>
                </form>
                {% if class_room != empty %}
                    {% for all in class_room %}
                        <h4 class="text-success">{{ all.0 }}</h4>
                    {% endfor %}
                {% endif %}

                {% if class_time != empty %}
                    {% for all in class_time %}
                        <h4 class="text-success">{{ all.0 }}</h4>
                    {% endfor %}
                {% endif %}

                <li><h5>Find the course ID:</h5></li>
                <form action="getCID" method="GET">
                    <select name="fname">
                        <option>-----</option>
                        {% for all in fname %}
                            <option value="{{ all.0 }}">{{ all.0 }}</option>
                        {% endfor %}
                    </select>
                    <select name="semester">
                        <option>-----</option>
                        {% for all in semester %}
                            <option value="{{ all.0 }}">{{ all.0 }}</option>
                        {% endfor %}
                    </select>
                    &nbsp;
                    <button type="submit" class="btn btn-success btn-sm">Submit</button>
                </form>
                {% if cid != empty %}
                    {% for all in cid %}
                        <h4 class="text-success"><strong>{{ all.0 }}</strong></h4>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="col-sm-3">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#Offices">
                    Office Details:
                </a>
            </h4>
        </div>

        <div id="Offices" class="panel-collapse">
            <ul>
                <li><h5>Find the Office Details of the Professor:</h5></li>
                <form action="office_details" method="GET">
                    <select name="fname">
                        <option>-----</option>
                        {% for all in fname %}
                            <option value="{{ all.0 }}">{{ all.0 }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-warning btn-sm">Submit</button>
                </form>
                {% if office_details != empty %}
                    {% for all in office_details %}
                        <h4 class="text-success"><strong>{{ all.0 }}</strong></h4>
                    {% endfor %}
                {% endif %}

            </ul>
        </div>
    </div>
</div>

<div class="col-sm-3">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#Year">
                    Year of Joining:
                </a>
            </h4>
        </div>

        <div id="Year" class="panel-collapse">
            <ul>
                <li><h5>Find the Year of joining for the Professor:</h5></li>
                <form action="year_details" method="GET">
                    <select name="fname">
                        <option>-----</option>
                        {% for all in fname %}
                            <option value="{{ all.0 }}">{{ all.0 }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-info btn-sm">Submit</button>
                </form>
                {% if working_since != empty %}
                    {% for all in working_since %}
                        <h4 class="text-success"><strong>{{ all.0 }}</strong></h4>
                    {% endfor %}
                {% endif %}

            </ul>
        </div>
    </div>
</div>